!!!
%html
  %head
    = wicked_pdf_stylesheet_link_tag "style"
    :css
      body{background-color: #fff;}
      p{font-size: 9px !important;}
    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['page'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = parseInt(vars[x[i]])+ parseInt("#{@count}");
          
        }
      }
  %body{onload: "number_pages()"}
    %page#waltzglide.page-footer{:size => "A4"}
      .footer
        %p.bottom-link WALTZ.JBGLASS.IN
        %p.pagination.page 
